In [1]:
# pandas
import pandas as pd # importing pandas with the alias pd

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
ci = pd.read_csv(filepath) # pd.read_excel() for reading excels
type(ci) # DataFrame pandas word for tabular data
# standard variable name for dataframes df
# child_data.info() # gives table info
# child_data.head(20) # top rows
# child_data.tail(10)  # bottom rows
#print(child_data)

ci.tail()

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN

In [2]:
ci["PersonBirthDate_dt"] = pd.to_datetime(ci["PersonBirthDate"], format="%Y-%m-%d")
ci["ExpectedPersonBirthDate_dt"] = pd.to_datetime(ci["ExpectedPersonBirthDate"], format="%Y-%m-%d")

ci["PersonDeathDate_dt"] = pd.to_datetime(ci["PersonDeathDate"], format="%Y-%m-%d", errors="coerce")

In [4]:
# age is current date - birth date

collection_end = pd.to_datetime("31/03/2025", format="%d/%m/%Y")

ci["time_delta"] = collection_end - ci["PersonBirthDate_dt"]

ci['Age'] = ci["time_delta"] / pd.Timedelta(365.25, "d")

ci['Age'] = ci["Age"].astype(int) # converting to integers rounds down to closest int

ci['Age']

0       5
1      13
2       7
3      10
4       5
       ..
327    14
328     6
329     3
330    11
331     3
Name: Age, Length: 332, dtype: int64

In [5]:
ci

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,ExpectedPersonBirthDate_dt,PersonDeathDate_dt,time_delta,Age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT,1942 days,5
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT,5087 days,13
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT,2855 days,7
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT,3832 days,10
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT,2014 days,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT,5381 days,14
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT,2421 days,6
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT,1208 days,3
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT,4269 days,11
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT,1253 days,3

In [6]:
print(ci["Age"].min())
print(ci["Age"].max())
print(ci["Age"].mean())
print(ci["Age"].median())
print(ci["Age"].sum())

2
20
11.289156626506024
11.0
3748